{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %} {% endblock %}
  {% block css %} {% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'icofont/icofont.min.css' %}">
  <link
    href='https://fonts.googleapis.com/css?family=Encode Sans Condensed|Racing Sans One|Audiowide|DM Sans|Trirong|Yanone Kaffeesatz'
    rel='stylesheet'>
  <style>
    body {
      font-family: 'DM Sans';
      font-size: 17px;
      background-color: #fff ;
    }
  </style>
</head>

<body>
  <!--
  <nav class="navbar justify-content-center bg-dark">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="{% url 'main' %}">
          <img src="{% static 'img/namelogo.png' %}" width="250" height="70" alt="">
        </a>
      </li>
    </ul>
  </nav>
  -->


  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-auto  sticky-top" style="background-color: #00838f;">
        <div class="d-flex flex-sm-column flex-row flex-nowrap  align-items-center sticky-top" style="background-color: #00838f;">
          <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center mt-5"
            style="font-size: 10px; ">

            <li class="nav-item mb-3">
              <a href="{% url 'home' %}" class="nav-link " title="HOME" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Home">
                <i class="bi bi-house-door-fill fs-5" style="color: #fff;"></i>
              </a>
            </li>
            <li class="nav-item mb-3">
              <a href="{% url 'add_task' %}" class="nav-link" title="ADD TASK" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Dashboard">
                <i class="bi bi-plus-square-fill fs-5" style="color: #fff;"></i>
              </a>
            </li>
            <li class="nav-item mb-3">
              <a href="{% url 'completed_task' %}" class="nav-link" title="COMPLETED TASK" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Orders">
                <i class="bi bi-check2-square fs-5" style="color: #fff;"></i>
              </a>
            </li>
            <li class="nav-item mb-3">
              <a href="{% url 'pending_task' %}" class="nav-link" title="PENDING TASK" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <i class="bi bi-hourglass-split fs-5" style="color: #fff;"></i>
              </a>
            </li>
            <li class="nav-item mb-3">
              <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers">
                <i class="bi-people fs-5" style="color: #fff;"></i>
              </a>
            </li>
            <li class="nav-item mb-3">
              <a href="/logout" class="nav-link" title="LOG OUT" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Customers">
                <i class="bi bi-box-arrow-right fs-5" style="color: #fff;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm  min-vh-100">
        <!-- content -->
        <div class="col-12">
          {% block titlecontent %} {% endblock %}
        </div>

        <div class="col-12">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>


  <!--
  <div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <img src="{% static 'img/img.png' %}" width="125" height="30" alt="" style="margin-top: 2px;">
      <a type="button" style="color: orangered; padding-bottom: 2px;" class="bi bi-x-square"
        data-bs-dismiss="offcanvas"></a>
    </div>

    <div class="offcanvas-body bg-dark">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: orangered;"><i
              class="bi bi-house-door-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'add_task' %}" style="color: orangered;"><i
              class="bi bi-plus-square"></i> Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'completed_task' %}" style="color: orangered;"><i
              class="bi bi-check-square"></i> Completed Task</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'pending_task' %}" style="color: orangered;"><i
              class="bi bi-hourglass-bottom"></i> Pending Task</a>
        </li>
      </ul>
    </div>
  </div>
  -->




  <footer class="text-center" style="bottom: 0; left: 0; width: 100%; position: fixed; margin-top: 20px;">

    <div class="text-center">
      <a class="img" href="#">
        <img src="{% static 'img/logof.png' %}" width="100px" height="25px" alt="">
      </a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>