{% extends 'base.html' %}

{% load static %}

{% block title %} <title> Completed-task </title> {% endblock %}

{% block titlecontent %} 

<div class="row shadow-sm align-items-center" style=" margin-top: 0px; padding: 5px;  color: #00838f;">

  <div class="col">
    <h2 style="font-family: Didact Gothic; text-align: left; font-size: 25px;">Completed Task</h2>
  </div>
  <div class="col align-items-center text-center">
    <img src="{% static 'img/logof.png' %}" width="150px" height="45px" alt="">
  </div>
  <div class="col align-items-center">
    <h2  style="font-family: Didact Gothic; text-align: right; font-size: 17px;">Welcome {{ user.username }}</h2>
  </div>
  

</div>
{% endblock %}

{% block content %} 

<div class="row  m-3 p-1" style="padding-bottom: 0px; margin-top: 10px; overflow-x: scroll;">
  <!--
    <div class="col-12">
      {% for task in completed_tasks %}
      <div class="card m-2 border border-success shadow-sm" style="border-radius: 0;">
        <div class="card-header">
          {{ task.date }} || {{ task.client.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ task.type }} ==> Time: {{ task.time}} </h5>
          <p class="card-text">{{ task.name }}</p>
        </div>
      </div>
      {% endfor %}
 
    -->
        <div class="col-8">
          <form id="filter-form" method="get" action="{% url 'download_excel' %}" onsubmit="return submitForm()">
            <div class="row">
              <div class="col">
                <input class="form-control" type="date" name="start_date" id="start_date" required>
              </div>
              <div class="col">
                <input class="form-control" type="date" name="end_date" id="end_date" required>
              </div>
              <div class="col">
                <button class="btn btn-primary" type="submit" id="download-button" disabled>Download Excel</button>
              </div>
            </div>     
        </form>
        
        

        </div>

        <div class="col-4">
          <input type="text-l" class="form-control" id="myInput" placeholder="Search..">
        </div>

      
    <table id="dtBasicExample" class=" table table-hover p-1 border border-success mt-3" style="color: #00838f;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Task</th>
            <th>Client</th>
            <th>Type</th>
            <th>Time</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody id="myTable">
        {% for task in completed_tasks %}
          <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.client.name}}</td>
            <td>{{ task.type}}</td>
            <td>{{ task.time}}</td>
            <td>{{ task.user }}</td>
          </tr>
         
        {% endfor %} 
        </tbody>
      </table>

    </div>

</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });


    // Get references to the date input fields and download button
    const startDateInput = document.getElementById('start_date');
    const endDateInput = document.getElementById('end_date');
    const downloadButton = document.getElementById('download-button');

    // Function to enable or disable the download button based on date selection
    function toggleDownloadButton() {
        if (startDateInput.value && endDateInput.value) {
            downloadButton.removeAttribute('disabled');
        } else {
            downloadButton.setAttribute('disabled', 'disabled');
        }
    }

    // Function to submit the form
    function submitForm() {
        const form = document.getElementById('filter-form');
        form.action = `${form.action}?start_date=${startDateInput.value}&end_date=${endDateInput.value}`;
        return true;
    }

    // Listen for changes in the date inputs
    startDateInput.addEventListener('change', toggleDownloadButton);
    endDateInput.addEventListener('change', toggleDownloadButton);

  </script>

{% endblock%}