{% extends 'base.html' %}

{% load static %}

{% block title %} <title> Edit task </title> {% endblock %}

{% block titlecontent %}

<div class="row shadow-sm align-items-center" style=" margin-top: 0px; padding: 5px;  color: #00838f;">

    <div class="col">
      <h2 style="font-family: Didact Gothic; text-align: left; font-size: 25px;">Edit Task</h2>
    </div>
    <div class="col align-items-center text-center">
      <img src="{% static 'img/logof.png' %}" width="150px" height="45px" alt="">
    </div>
    <div class="col align-items-center">
      <h2  style="font-family: Didact Gothic; text-align: right; font-size: 17px;">Welcome {{ user.username }}</h2>
    </div>
    
  
  </div>
{% endblock %}


{% block content %}

<div class="row justify-content-center mt-3">
    <form class="g-3 shadow-lg" method="get" style="background-color: white;  padding-bottom: 20px; padding-top: 20px;">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label for="task" class="form-label">Task</label>
                <input type="text" value="{{task.name}}" class="form-control" id="task" placeholder="Task name"
                    name="task_name">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <label for="client" class="form-label">Client Name</label>
                <input type="text" value="{{task.client.name}}" class="form-control" id="client" placeholder=" name"
                    name="client">
            </div>
            <div class="col-lg-4">
                <label for="date" class="form-label">Date</label>
                <input type="text" value="{{task.date}}" name="date" class="form-control">
            </div>
            <div class="col-lg-4">
                <label for="status" class="form-label">Status</label>
                <select name="status" id="status" class="form-select">
                    <option value="0">Pending</option>
                    <option value="1">Completed</option>

                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <label for="type" class="form-label">Type</label>
                <select name="type" id="type" class="form-select">
                    <option value="01">01</option>
                    <option value="02">02</option>

                </select>
            </div>
            <div class="col-lg-4">
                <label for="time" class="form-label">Time</label>
                <input type="number" value="{{task.time}}" class="form-control" id="time" name="time">
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-lg btn-floating w-100 shadow-sm"
                    style="background-color: #00838f; border: none; color: #fff; font-family: DM Sans;">
                    <i class="bi bi bi-plus-square" style="color: #fff;"></i> Add</button>

            </div>
        </div>
  
</form>
</div>


{% endblock%}