{% extends 'base.html' %}

{% load static %}

{% block title %} <title> Edit task </title> {% endblock %}

{% block titlecontent %}

<div class="row shadow-sm align-items-center" style=" margin-top: 0px; padding: 2px;  color: #00838f;">

    <div class="col">
      <h2 class="fw-bold" style="font-family: Didact Gothic; text-align: left; font-size: 25px;">Edit Profile</h2>
    </div>
    <div class="col align-items-center text-center">
      <img src="{% static 'img/logof.png' %}" width="150px" height="25px" alt="">
    </div>
    <div class="col align-items-center">
      <h2  style="font-family: Didact Gothic; text-align: right; font-size: 17px;">Welcome {{ loged_user }}</h2>
    </div>
    
  
  </div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3 m-3">
        <form class="g-3 shadow-lg p-5 card"  method="get" style="background-color: white;  padding-bottom: 20px; padding-top: 20px;">
            {% csrf_token %}
    
            <div class="row mt-3">
                <div class="col">
                    <label for="client" class="form-label">First Name</label>
                    <input type="text" value="{{user.first_name}}" class="form-control" id="first_name" placeholder="first name"
                        name="first_name">
                </div>
                <div class="col">
                    <label for="client" class="form-label">Last Name</label>
                    <input type="text" value="{{user.last_name}}" class="form-control" id="last_name" placeholder="last name"
                        name="last_name">
                </div>
    
            </div>
            <div class="row">
                <div class="col">
                    <label for="task" class="form-label">User Name</label>
                    <input type="text" value="{{user.username}}" class="fw-bold form-control" id="task" placeholder="Task name"
                        name="user_name">
                </div>
    
            </div>
            <div class="row">
                <div class="col">
                    <label for="task" class="form-label">Email</label>
                    <input type="text" value="{{user.email}}" class="form-control" id="task" placeholder="example@gmail.com"
                        name="email">
                </div>
    
                <div class="col">
                    <label for="role" class="form-label">Role</label>
                    <select name="role" id="status" class="form-select">
                        <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>admin</option>
                        <option value="general" {% if user.role == 'general' %}selected{% endif %}>general</option>
    
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" value="" class="form-control" id="pass1" placeholder="new password"
                        name="password">
                </div>
    
            </div>
            <div class="row">
                <div class="col">
                    <label for="pass2" class="form-label">Confirm Password</label>
                    <input type="password" value="" class="form-control" id="pass2" placeholder="enter the password again"
                        name="password2">
                </div>
    
            </div>
            <div class="row mt-3">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-lg btn-floating w-100 shadow-sm"
                        style="background-color: #00838f; border: none; color: #fff; font-family: DM Sans;">
                        <i class="bi bi bi-plus-square" style="color: #fff;"></i> Save Changed</button>
    
                </div>
            </div>
    
        </form>
    
            </div>
</div>



  

{% endblock%}