{% extends 'base.html' %}

{% load static %}

{% block title %} <title> Home </title> {% endblock %}


{% block content %} 

<div class="row">
    <div class="col-12">
    <h2>All Tasks</h2>    
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Task</th>
            <th>Client</th>
            <th>Status</th>
            <th>Type</th>
            <th>Time</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
        {% for task in all_tasks %}
          <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.client.name}}</td>
            <td>
              {% if task.status == "0" %}
            
                <a type="text">pending</a>
              {% elif task.status == "1" %}
                <a type="text">completed</a>
              {% endif %}
            </td>
            <td>{{ task.type}}</td>
            <td>{{ task.time}}</td>
            <td>
            {% if task.status == "0" %}
          
              <a href="{% url 'edit_task'  task_id=task.id %}" type="button">edit</a>
            {% elif task.status == "1" %}
              <a type="text">edit</a>
            {% endif %}
            </td>
          </tr>
         
        {% endfor %} 
        </tbody>
      </table>
    </div>

</div>

{% endblock%}