{% extends 'base.html' %}

{% load static %}

{% block title %} <title> Home </title> {% endblock %}


{% block titlecontent %}

<div class="row shadow-sm text-center" style=" margin-top: 0px; padding: 5px;  color: #00838f;">

  <h2 style="font-family: Racing Sans One;">Welcome {{ user.username }}</h2>

</div> 

{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col  m-2 p-1 text-center" style=" background-color: #01579B; box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.45);">
    <a style="color: #fff;"> <i class="bi bi-hourglass-split fs-5" style="color: #fff;"></i> Total Pending Task:</a>
    <h5 style="color: #fff;">{{ count }}</h5>
  </div>
  <div class="col  m-2 p-1 text-center" style=" background-color: #AA00FF; box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.45);">
    <a style="color: #fff;"> <i class="bi bi-hourglass-split fs-5" style="color: #fff;"></i> Total Completed Task:</a>
    <h5 style="color: #fff;">{{ count }}</h5></div>
  <div class="col m-2 p-1 text-center" style=" background-color: #00C853; box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.45);">
    <a style="color: #fff;"> <i class="bi bi-hourglass-split fs-5" style="color: #fff;"></i> Total Pending Task:</a>
    <h5 style="color: #fff;">{{ count }}</h5></div>
  <div class="col m-2 p-1 text-center" style=" background-color: #6200EA; box-shadow: 0px 13px 8px -8px rgba(0, 0, 0, 0.45);">
    <a style="color: #fff;"> <i class="bi bi-hourglass-split fs-5" style="color: #fff;"></i> Total Pending Task:</a>
    <h5 style="color: #fff;">{{ count }}</h5></div>
</div>

<div class="row justify-content-center">
  <div class="col m-2 " style=" box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);"></div>

  <div class="col  m-2 " style=" box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);">
    <h3>Pending Task:</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Client</th>
          <th>Type</th>
          <th>Time</th>
          <th>action</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for task in all_tasks %}
        <tr>
          <td>{{ task.date.day}}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.client.name}}</td>
          <td>{{ task.type}}</td>
          <td>{{ task.time}}</td>
          <td>{{ task.user }}</td>
          <td>
            {% if task.status == "0" %}

            <a href="{% url 'edit_task'  task_id=task.id %}" type="button" class="btn btn-light"
              style="color: #00838f;">edit</a>
            {% elif task.status == "1" %}
            <a type="text">no edit</a>
            {% endif %}
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<div class="row justify-content-center">
  <div class="col  m-2 " style="overflow-x: scroll; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);">
    <table class="table table-hover">
      <thead>
        <tr>
       
          <th>Task</th>
          <th>Client</th>
          <th>Status</th>
          <th>Type</th>
          <th>Time</th>
          <th>action</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for tas in taskfl %}
        <tr>

          <td>{{ tas.name }}</td>
          <td>{{ tas.client.name}}</td>
          <td>
            {% if tas.status == "0" %}

            <a type="text">pending</a>
            {% elif tas.status == "1" %}
            <a type="text">completed</a>
            {% endif %}
          </td>
          <td>{{ tas.type}}</td>
          <td>{{ tas.time}}</td>
          <td>{{ tas.user }}</td>
          <td>
            {% if tas.status == "0" %}

            <a href="{% url 'edit_task'  task_id=tas.id %}" type="button" class="btn btn-light"
              style="color: #00838f;">edit</a>
            {% elif tas.status == "1" %}
            <a type="text">no edit</a>
            {% endif %}
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col  m-2 " style="overflow-x: scroll; box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);">
    <div class="p-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="" type="submit">Upload</button>
      </form>
    </div>
    {% for doc in docs %}
    <a href="{{ doc.document.url }}" target="_blank">{{ doc.name }}</a>
    {% endfor %}

    
      <p><a href="{% url 'home' %}">Return to home</a></p>

  </div>

</div>


{% endblock%}